@import "./rose-pine.css";


* {
	background: @surface;
	border: 0;
	border-radius: 0;
	font-family: MonaspiceAr Nerd Font Propo;
	font-size: 10pt;
	min-height: 0;
}

#memory {
	color: @foam;
}

#temperature {
	color: @rose;
}

window#waybar {
	opacity: 0.9;
	background: @base;
	color: @foam;
	border-radius: 16;
}

#workspaces button {
	padding: 0 8;
	margin: 2 4;
	border-radius: 16;
}

#clock {
	padding: 0 8;
	margin: 4 0;
	border-radius: 16;
	background: @base;
}